body {
    background-image: url("srul.jpg");
    background-size: 100px;
    background-color: #818181;
    padding: 2px;
    width: auto;
}
@font-face {
    font-family: M;
    src: url(Minecraft.ttf);
.skoro {
    width: auto;
    height: auto;
    border: 1px solid black;
}
.skoro p {
    font-family: M;
    color: #FFFFFF;
